<p>Hey {{ name }},</p>
<p>Please click below to confirm your email</p>
<p>
    <a href="mailto:{{ email }}">Confirm</a>
</p>
<p>Balance: {{ balance }}</p>

<p>If you did not request this email you can safely ignore it.</p>
